/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(253, 248, 255, 0.7); 
  backdrop-filter: blur(10px); 
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 30px; /* Adjust the size of the logo */
  margin-right: 8px; /* Space between logo and text */
}

.links {
  display: flex;
  gap: 16px; /* Space between links */
}

.link-text {
  font-family: 'Poppins', sans-serif;
  color: black;
  cursor: pointer;
  font-size: 14px; /* Adjusted font size */
  margin: 0 20px; /* Space between links */
}

.login-section {
  display: flex;
  justify-content: flex-end;
}

.login-button {
  background-color: #e8ecf4;
  border-radius: 20px;
  padding: 4px 4px;
  display: flex;
  align-items: center;
  position: relative;
  text-transform: none; /* Prevents text from being uppercase */
}

.inner-pill {
  background-color: white;
  border-radius: 20px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
}

.login-text {
  font-family: 'Poppins', sans-serif;
  color: black;
  margin: 0;
  font-size: 14px; /* Adjusted font size */
}

.arrow-icon {
  color: black;
  margin-left: 8px;
}
